* {
    color: #fff;
}
.none {
    display: none;
}
button {
    background: #4FC6BF;
    color: #000;
    border-radius: 4px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 3px 25px;
}
header {
    background: #3A4044;
    padding: 15px 0;
    border-bottom: 1px solid #4FC6BF;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1 {
    font-size: 24px;
}
header .current-employee {
    padding: 0;
    margin: 0;
}
header .exit:hover {
    zoom: 1.1;
}
main .toolbar {
    background: #3A4044;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
main .toolbar .main-list {
    padding: 15px 0;
}
main .toolbar .main-list li {
    list-style: none;
    padding: 5px;
}
main .toolbar .main-list li.main-list__item {
    border-top: 1px solid #4FC6BF;
}
main .toolbar .main-list li a {
    color: #fff;
    text-decoration: none;
}
main .toolbar .main-list li.create-order__item {
    font-size: 22px;
}

main .toolbar .main-list .sublist li {
    font-size: 12px;
}


form {
    background: #3A4044;
    padding: 30px 15px;
    margin: 10px auto;
    max-width: 600px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
form h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}
form .form-row{
    
    color: #000;
    width: 60%;
    margin: 20px auto;
    
    display: flex;
    justify-content: space-between;
}
form .form-row label {
    display: block;
    font-size: 16px;
    width: 40%;
}
form .form-row select, form .form-row input, form .form-row option {
    color: #000;
    background: #C4C4C4;
    border: none;
    width: 200px;
    padding: 3px 15px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
} 
form .form-row option {
    border: none;
}
form .form-btn {
    display: block;
    margin: 25px auto 10px;
}
form textarea {
    display: block;
    color: #000;
    width: 200px;
}
.close-form {
    display: block;
    top: 15px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    font-size: 12px;
}
.list-wrapper {
    position: relative;
    width: 900px;
    margin: 0 auto;
}
.list-wrapper .close-form {
    color: #000000;
}
.list-wrapper hr{
    margin: 0;
}
.list-wrapper .list .list-item {
    position: relative;
    margin-bottom: 10px;
}
.list-wrapper  td.item input {
    color: #000;
    width: 70px;
    margin: 0;
}

.list-wrapper table {
    border: 1px solid #aaa4a4;
    margin: 10px auto;

    width: 100%;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.list-wrapper  h2 {
    color: #000;
    padding: 7px 40px;
}



.list-wrapper table th {
    color: #000;
    text-align: center;
    border: 1px solid #000;
    padding: 5px 10px;
}
.list-wrapper table td{
    text-align: center;
    padding: 10px 10px;
    color: #000;
    border: 1px solid #000;
}

.list-row {
    position: relative;
}
.delete {
    color: red !important;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 3px;
    top: 0;
}
.choose-employee-form {
    height: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}
.choose-employee-form select {
    color: #fff;
    background: #3A4044;
    width: 300px;
}
.report td, .report th{
    color:  #000;
    border: solid 1px #000;  
}
.report th {
    text-align: center;
}
.report span{
    color:  #000;
}
.report table {
    margin: 0 auto;
    width: 600px;
    border: solid 1px #000;
}
.report {
    position: relative;
}